@import 'sass/mixins';
@import 'sass/reset';

//@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';
//@import '../../bower_components/singularity/stylesheets/_singularitygs.scss';

// COLORS
$white: #ffffff;
$black: #000000;
$gray: #616165;
$red: #cd1041;

html,
body {
	width: 100%;
	min-height: 100vh;
	background-color: $white;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: $black;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

.wrapper  {
	width: 100%;
	min-height: 100%;
	position: relative;
	height: auto !important;
}

.website {
	position: relative;
	height: 100%;
	width: 100%;
}


@import 'sass/main';
