.index {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 50px;

	&__wrap {
		width: 87%;
		margin: 0 auto;

		&_step1 {
			& .step_1 {
				display: block;
			}

			& .step_2,
			& .step_3,
			& .step_4 {
				display: none;
			}

		}
		&_step2 {
			& .step_2 {
				display: block;
			}

			& .step_1,
			& .step_3 ,
			& .step_4 {
				display: none;
			}
		}
		&_step3 {
			& .step_3 {
				display: block;
			}

			& .step_1,
			& .step_2,
			& .step_4 {
				display: none;
			}
		}
		&_step4 {
			& .step4 {
				display: block;
			}

			& .step1,
			& .step2,
			& .step3 {
				display: none;
			}
		}
	}

	&__btn {
		margin-top: 30px;
	}

	&__result {
		margin-top: 50px;
	}
}

.btn {
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: $white;
	text-align: center;
	border-radius: 2px;
	transition: background 0.3s ease-out;
	cursor: pointer;

	&_red {
		background-color: $red;
	}

	&_gray {
		background-color: $gray;
	}

	&_disabled {
		cursor: default;
		opacity: 0.5;
	}
}

.title {
	font-size: 24px;
}

.table {
	// width: 100%;
	width: 640px;
	table-layout: fixed;
	margin-top: 50px;
	border-collapse: collapse;

	tr,
	td {
		border: 1px solid $gray;
	}

	td,
	th {
		padding: 0 5px;
	}

	&_project {
		tr {
			width: 100%;
		}
		td {
			height: 30px;
			text-align: center;
		}

		th {
			height: 30px;
			text-align: center;

			&:first-of-type {
				width: 40%;
				text-align: left;
			}
		}
	}


	&_simplex {
		tr {
			width: 100%;
		}
		td {
			width: 33%;
			// width: 25%;
			height: 30px;
		}
	}

	&__cell {
		&_gray {
			background-color: $gray--light;
		}
	}
}